src/main/resources/xsd/common/Value.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
  xmlns:samply_value="http://schema.samply.de/common/Value"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://schema.samply.de/common/Value" version="1.0" jxb:version="2.1">
  <xs:annotation>
    <xs:appinfo>
      <jxb:schemaBindings>
        <jxb:package name="de.samply.share.model.query.common"/>
      </jxb:schemaBindings>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="LowerBound" substitutionGroup="samply_value:Value"/>
  <xs:element name="UpperBound" substitutionGroup="samply_value:Value"/>
  <xs:element name="Value" type="xs:string"/>
</xs:schema>
